server:
  port: 8080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://user-service:8081
          predicates:
            - Path=/api/auth/**
        - id: book-service
          uri: http://book-service:8082
          predicates:
            - Path=/books/**
  thymeleaf:
    check-template: false